{% extends 'ES/base.html' %}
{% load static from staticfiles %}
{% block head %}
    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
{% endblock %}
{% block links %}
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#report">REPORT NOW!</a></li>
                            <!--<li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Menu </a>-->
                                <!--<div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#comp">Complaints</a><a class="dropdown-item" role="presentation" href="#map">Heatmap</a><a class="dropdown-item" role="presentation" href="#about">About Us</a></div>-->
                            <!--</li>-->

                            <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'home:hmap' %}">HEAT MAP</a></li>

                            <li class="nav-item" role="presentation"><a class="nav-link" href="#comp">COMPLAINTS</a></li>
                            {% endblock %}
{% block body %}
    <body onload="updateDataPoints({{ latLng }})">
    <div id="map"></div>

    <script src="{% static 'js/heatmap.js' %}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlL0EinRTWJbAdRfUbWNowPu4Tk03ECwI&libraries=visualization&callback=initMap">
    </script>
    </body>
{% endblock %}